.po_items_ho {
  /* border: 1px solid white; */
  padding: 25px 0 25px 25px;
  display: flex;
  flex-direction: row;
  row-gap: 25px;
  column-gap: 25px;
  flex-wrap: wrap;
}

.po_item {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  column-gap: 50px;
}

.content {
  /* border: 1px solid yellow; */
  width: 500px;
}

.content > p {
  margin-bottom: 20px;
  text-align: left;
}

.onlylinks {
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: left;
  margin: auto;
}

.onlylinks > a {
  color: var(--secondary-color);
  border: 2px solid var(--secondary-color);
  border-radius: 25px;
  padding: 5px;
  text-decoration: none;
}

.onlylinks > a:hover {
  font-size: larger;
}

img {
  border: 10px solid var(--secondary-color);
}

@media only screen and (max-width: 1200px) {
  .content {
    /* border: 1px solid yellow; */
    width: 40%;
  }
}

@media only screen and (max-width: 992px) {
  .po_items_ho {
    /* border: 1px solid white; */
    padding: 25px;
    display: flex;
    flex-direction: row;
    row-gap: 30px;
    flex-wrap: wrap;
  }

  .po_item {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-left: 75px;
  }

  .content {
    /* border: 1px solid yellow; */
    width: 100%;
  }
  .content > p {
    margin-bottom: 20px;
    text-align: center;
  }
}

@media only screen and (max-width: 992px) {
  .onlylinks {
    /* border: 1px solid yellow; */
    width: 80%;
    /* display: flex;
    flex-direction: row; */
    justify-content: space-between;
    /* text-align: left;
    margin: auto; */
  }

  .content {
    /* border: 1px solid yellow; */
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  img {
    margin-left: 30px;
    width: 130%;
    height: 120%;
  }
  .po_item {
    padding: 0px;
  }
  .onlylinks {
    justify-content: space-between;
  }
  .content {
    /* border: 1px solid white; */
    margin-left: 25px;
  }
  .paratwo {
    /* border: 1px solid white; */
    text-align: justify;
  }
}

/* img:hover {
  opacity: 0.5;
  transition-delay: 1s;
  transition: 0.3s ease;
} */
/******************************************* old code *********************/
/* .po_items_ho {
  column-width: 25em;
  -moz-column-width: 15em;
  -webkit-column-width: 15em;
  column-gap: 4rem;
  -moz-column-gap: 4rem;
  -webkit-column-gap: 4rem;
}

.po_item {
  border: 1px solid blue;
  display: inline-block;
  width: 100%;
  text-align: center;
  margin: 0.5rem auto;
  position: relative;
  background: var(--secondary-color);
  padding: 6px;
  border: 1px solid var(--secondary-color);
  transition: 0.3s ease;
  font-size: 0;
  min-height: 300px;
}

.po_item img {
  max-width: 100%;
}

.po_item .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--overlay-color);
  z-index: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  transition: 0.3s ease-in-out;
  opacity: 0;
  border: 1px solid green;
}

.po_item .content {
  opacity: 0;
  transition-delay: 1s;
  transition: 0.3s ease;
  font-size: 15px;
}

.po_item:hover {
  box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.25);
}

.po_item:hover .content {
  height: calc(100% - 30px);
  width: calc(100% - 30px);
  opacity: 1;
}

.po_item:hover .content {
  opacity: 1;
  color: var(--secondary-color);
}

.po_item .content a {
  background: var(--bg-color);
  border: solid 1px var(--text-color);
  padding: 4px 8px;
  text-align: center;
  font-size: 1rem;
}

.po_item .content a:hover {
  text-decoration: none;
} */
